<!DOCTYPE html>
<html>
<head>
    <title>Hack</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Bebas+Neue&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background-image">
       <div class="first-div">
          <a href=""><h1>flask</h1></a>
       </div>

       <div class="second-div">
          <a href=""><h1>code</h1></a>
       </div>

       <div class="third-div">
          <h1>task</h1>
       </div>

       <div class="violet-div">
         <div class="white-div">
            <h1>htML</h1>
         </div>
         <div class="white-div">
            <h1>cSS</h1>
         </div>
         <div class="white-div">
            <h1>JS</h1>
         </div>
     </div>

     <div class="orange">
        <h1></h1>
     </div>

     <div class="blue">
        <h1></h1>
     </div>

      <div class="yellow">
        <h1></h1>
      </div>
      <div style="clear:right"></div>
    <div class="register">
        <p style="color: aliceblue; text-align: center;">Register📝</p>
        <form action="/reg_data" method="post">

            <div class="play">
            <input type="text" name="uname" style="width:56%; height:24px" placeholder="Enter Name" required><br><br>
            <input type="email" name="uemail"  style="width:56%;height:24px" placeholder="Enter mail" required><br><br>
            <input type="number" name="uph" style="width:56%; height:24px" placeholder="Enter number" required><br><br>
            <input type="password" name="upswd" style="width:56% ;height:24px" placeholder="Enter password" required><br><br>
            <input type="submit" style="width:34%;background-color: rgb(117, 80, 94);font-weight: bold;border-color: rgb(62, 40, 55);border-radius: 10px;color:white;height:24px">
            
        </div>
         
           
        </form>
    </div>
    
    
    <div style="clear:right"></div>
    <div class="register">
      <p style="color: aliceblue; text-align: center;">Login 🔑</p>
      <form action="/login_data" method="post">

          <div class="play">
          <input type="email" name="uemail"  style="width:56%;height:24px" placeholder="Enter mail" required><br><br>
          <input type="password" name="upswd" style="width:56% ;height:24px" placeholder="Enter password" required><br><br>
          <input type="submit" style="width:34%;background-color: rgb(117, 80, 94);font-weight: bold;border-color: rgb(62, 40, 55);border-radius: 10px;color:white;height:24px">
          
      </div>
       
         
      </form>
  </div>
  



      </div>


</body>
</html>
